!!!!!!!!! Xft Settings !!!!!!!!!

Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium

!!!!!!!!! XTerm Settings !!!!!!!!!

! Misc
XTerm.termName: xterm-256color
XTerm*locale: true
Xterm*saveLines: 8192
xterm*bellIsUrgent: true
XTerm*cursorBlink: true
XTerm*on3Clicks: regex [^ ]+
XTerm*on4Clicks: regex .+
! Shift + left click to open a selected link in firefox
! Alt + left click to open a selected link in chrome
! Copy to both PRIMARY & CLIPBOARD
XTerm*VT100*translations: #override \
        Shift ~Meta <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY) \n\
        ~Shift Meta <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY) \n\
        ~Shift ~Meta <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! Scrollbar
XTerm*scrollbar*thickness: 4
! 'black' means 'solid'
XTerm*scrollbar*thumb: black

! Tomorrow Night color scheme
xterm*foreground:   #c5c8c6
xterm*scrollbar*foreground: #81a2be
xterm*background:   #1d1f21
xterm*cursorColor:  #aeafad
xterm*color0:       #000000
xterm*color1:       #912226
xterm*color2:       #778900
xterm*color3:       #ae7b00
xterm*color4:       #1d2594
xterm*color5:       #682a9b
xterm*color6:       #2b6651
xterm*color7:       #929593
xterm*color8:       #666666
xterm*color9:       #cc6666
xterm*color10:      #b5bd68
xterm*color11:      #f0c674
xterm*color12:      #81a2be
xterm*color13:      #b294bb
xterm*color14:      #8abeb7
xterm*color15:      #ecebec

! Fonts
xterm*faceName: Tamzen For Powerline:antialias=false
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:antialias=true
xterm*faceSize: 13

!!!!!!!!! XScreenSaver Settings !!!!!!!!!

xscreensaver.Dialog.headingFont:        -*-liberation mono-medium-r-*-*-*-100-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-liberation mono-bold-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-liberation mono-bold-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-liberation mono-medium-r-*-*-*-80-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-liberation mono-medium-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-liberation mono-medium-r-*-*-*-80-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-liberation mono-medium-r-*-*-*-100-*-*-*-*-*-*

xscreensaver.Dialog.foreground: #aaaaaa
xscreensaver.Dialog.background: #222222
xscreensaver.Dialog.Button.foreground: #cccccc
xscreensaver.Dialog.Button.background: #444444
xscreensaver.Dialog.text.foreground: #cccccc
xscreensaver.Dialog.text.background: #444444
xscreensaver.passwd.thermometer.foreground: #748297
xscreensaver.passwd.thermometer.background: #444444
xscreensaver.Dialog.topShadowColor: #222222
xscreensaver.Dialog.bottomShadowColor: #222222
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.passwd.thermometer.width: 4
