!!!!!!!!! Xft Settings !!!!!!!!!

Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium

!!!!!!!!! XTerm Settings !!!!!!!!!

! Misc
XTerm*locale: true
Xterm*saveLines: 8192
xterm*bellIsUrgent: true
XTerm*cursorBlink: true
XTerm*on3Clicks: regex [^ ]+
XTerm*on4Clicks: regex .+
! Shift + left click to open a selected link in firefox
! Alt + left click to open a selected link in chrome
! Copy to both PRIMARY & CLIPBOARD
XTerm*VT100*translations: #override \
        Shift ~Meta <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY) \n\
        ~Shift Meta <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY) \n\
        ~Shift ~Meta <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! Scrollbar
XTerm*scrollbar*thickness: 4
XTerm*scrollbar*foreground: #748297
! 'black' means 'solid'
XTerm*scrollbar*thumb: black

! Colors
XTerm*foreground: #d4d4d4
XTerm*background: #121212

! Tango color scheme
xterm*color0: #1e1e1e
xterm*color1: #cc0000
xterm*color2: #4e9a06
xterm*color3: #c4a000
xterm*color4: #3465a4
xterm*color5: #75507b
xterm*color6: #0b939b
xterm*color7: #d3d7cf
xterm*color8: #555753
xterm*color9: #ef2929
xterm*color10: #8ae234
xterm*color11: #fce94f
xterm*color12: #729fcf
xterm*color13: #ad7fa8
xterm*color14: #00f5e9
xterm*color15: #eeeeec

! Fonts
xterm*faceName: Inconsolata NF Custom:antialias=true
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:antialias=true
xterm*faceSize: 13

!!!!!!!!! XScreenSaver Settings !!!!!!!!!

xscreensaver.Dialog.headingFont:        -*-liberation mono-medium-r-*-*-*-100-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-liberation mono-bold-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-liberation mono-bold-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-liberation mono-medium-r-*-*-*-80-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-liberation mono-medium-r-*-*-*-120-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-liberation mono-medium-r-*-*-*-80-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-liberation mono-medium-r-*-*-*-100-*-*-*-*-*-*

xscreensaver.Dialog.foreground: #aaaaaa
xscreensaver.Dialog.background: #222222
xscreensaver.Dialog.Button.foreground: #cccccc
xscreensaver.Dialog.Button.background: #444444
xscreensaver.Dialog.text.foreground: #cccccc
xscreensaver.Dialog.text.background: #444444
xscreensaver.passwd.thermometer.foreground: #748297
xscreensaver.passwd.thermometer.background: #444444
xscreensaver.Dialog.topShadowColor: #222222
xscreensaver.Dialog.bottomShadowColor: #222222
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.passwd.thermometer.width: 4
